@import "./base.css";

 
#app {
  padding-top: 2rem;
  font-weight: normal;
}
body {
  background-color: rgb(11, 11, 11);
}

main body {
  background-image: none;
}


a,
.green {
  text-decoration: none;
  color: rgb(27, 94, 141);
  transition: 0.4s;
}

@media only screen and (max-width: 520px) {
  #app {
    padding: 0rem;
  }

}